@media screen and (max-width: 768px) {

    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 4rem;
        font-weight: 700;
        background-color: transparent;
    }

    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 3rem;
        font-weight: 700;
        background-color: transparent;
    }

    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        background-color: transparent;
    }

    h4 {
        font-family: "Poppins", sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        background-color: transparent;
    }

    h5 {
        /*for highlight*/
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        background-color: transparent;
    }

    p, a, ul {
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        background-color: transparent;
    }

    strong {
        font-family: "Poppins", sans-serif;
        color: var(--font-blue);
        font-size: 0.9rem;
        font-weight: 600;
    }

    /*header*/
    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0.1rem;
    }

    .menu, .menu-index {
        display: none;
    }

    #logo-light img, #logo-dark img, #logo-dark-index img {
        width: 3rem;
        height: auto;
        margin-left: 3rem;
        display: inline-block;
    }

    #logo-dark-index {
        display: none;
    }

    header.is-scrolled #logo-light {
        display: none;
    }

    header.is-scrolled #logo-dark-index {
        display: inline-block;
    }

    .menu_mobile {
        display: block;
        position: relative;
        margin-right: 2rem;
    }

    .menu-button {
        font-size: 2rem;
        font-weight: 500;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--backgroud-color)
    }

    header.is-scrolled .menu-button {
        color: var(--font-darkblue)
    }

    /* Overlay menu */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(79, 77, 77, 0.3);
        backdrop-filter: blur(30px);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 3rem;
        transform: translateY(-100%);
        transition: transform 0.4s ease;
        z-index: 100;
        list-style: none;
    }

    /* When open */
    .overlay.active {
        transform: translateY(0);
    }

    /* Overlay content */
    .overlay-content {
        position: relative;
        z-index: 200;
    }

    .overlay-content ul {
        list-style: none;
        padding: 0;
    }

    .overlay-content li {
        margin: 20px 0;
    }

    .overlay-content a {
        font-size: 2rem;
        font-weight: 500;
        color: var(--font-darkblue);
        text-decoration: none;
    }

    /* Close button */
    .close-btn {
        position: absolute;
        top: -5rem;
        left: 0;
        font-size: 3rem;
        background: none;
        border: none;
        color: var(--font-darkblue);
        cursor: pointer;
    }

    /* hero section */

    .hero {
        padding-top: 10rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2C4A97;
    }

    .hero-lottie {
        display: none;
    }

    .hero-mobile {
        width: 100%;
        display: block;
    }

    /*landing-work*/

    .feature-work {
        text-align: center;
        border-radius: 4rem 4rem 0 0;
        background-color: var(--backgroud-color);
    }

    .feature-work h4, .feature-work p {
        color: var(--font-darkblue);
    }

    .intro_work {
        color: var(--font-darkblue);
        padding-top: 3rem;
    }
    
    .work {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 6em;
        padding: 2rem
    }
    
    .project {
        display: flex;
        flex-direction: column;
    }

    .project img {
        width: 100%;
        border-radius: 2.5em;
        border: 1px solid var(--font-blue);
    }

    .project-img-wrap {
        width: 100%;
        border-radius: 2.5em;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .project-text {
        margin: 1em 0em;
        text-align: left;
    }

    .project-text>p {
        margin-top: 0.5em;
    }

    button.viewproject {
        background-color: var(--font-blue);
        padding: 1rem;
        border-radius: 3.5rem;
        color: var(--backgroud-color);
        width: 100%;
        margin-top: 1rem;
        border: 0;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
    }

    /*Footer*/

    footer {
        border-radius: 4rem 4rem 0rem 0rem;
        background-color: var(--font-blue);
        padding: 4rem 0 4rem 0;
    }

    footer a, footer h3 {
        color: var(--backgroud-color);
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .contact-text {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .contact h3 {
        font-size: 1.3rem;
    }

    .top{
        display: flex;
        gap: 1rem;
    }

    #blink {
        width: 1.5rem;
    }

    #aiya {
        width: 3rem;
        transform: rotate(20deg);
    }

    /*-----------404-------------*/
    .notfound {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
    }

    .notfound-404 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notfound-404 h1 {
        font-size: 10rem;
    }

    .notfound p {
        margin-bottom: 0.5rem;
    }

/* -----About Page ---*/

    .about {
        color: var(--font-darkblue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .about a:link, .about a:visited {
        display: inline-block;
        color: var(--font-blue);
    }

    .about a:active {
        color: var(--font-blue);
    }

    #hand {
        width: 15%;
        display: inline-block;
        transform-origin: bottom center;
    }

    .about-left {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    #myphoto {
        display: none;
    }
    
    #ntmy {
        display: none;
    }

    #myphoto_mobile {
        width: 50%;
        display: block;
    }

  /*-----------work page-------------*/

    .content {
        margin: 2rem;
        display: flex;
        justify-content: center;
        gap: 3rem;
        padding: 0rem 1rem;
    }

    .work-project {
        background-color: var(--backgroud-color);
    }

    .work-project p {
        color: var(--font-darkblue);
    }

        /* sidenav */
    .sidenav {
        display: none;
    }

    .title, .title_fintrackpro {
        text-align: center;
        padding-top: 7rem;
        width: 100vw;
    }

    .title h1, .title_fintrackpro h1 {
        color: var(--font-darkblue);
        font-size: 3rem;
    }

   .title img, .title_fintrackpro img {
        width: 100vw;
    }

    .contenttext {
        width: 100%;
    }

    .contenttext h3 {
        color: var(--font-darkblue);
    }

    .contenttext h4 {
        color: var(--font-darkblue);
    }

    .contenttext h5 {
        color: var(--font-blue);
    }


    .contenttext ul {
        list-style: circle;
        margin-left: 20px;
    }

    .contenttext img, .box_photo img {
        width: 100%;
        height: auto;
    }

    .contenttext video {
        margin: 1rem;
        width: 20%;
        border-radius: 0.5rem;
    }

    #fintrackpro_prototyping video {
        width: 30%;
        border-radius: 0.5rem;
    }

    #woofvideo {
        width: 100%;
        border-radius: 0.5rem;
    }

    .box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .box_photo {
        text-align: center;
    }

    .box_list {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    .box_left, .box_right {
        width: 100%;
    }

    #overview,
    #start,
    #problem,
    #solution,
    #persona,
    #ia,
    #userflow,
    #sketch,
    #uiinspi,
    #designsystem,
    #mockup,
    #testing,
    #key,
    #addfea,
    #gameflow,
    #prototype, 
    #contributed,
    #testimonials, #objective {
        margin-bottom: 4rem;
    }

    #start img {
        width: 50vw;
    }

    #makechange img, #mockup img{
        width: 100%;
    }

    #addfea .box {
        margin: 2rem 0rem;
        display: flex;
        flex-direction: row;
    }

   #addfea img {
        width: 33vw;
    }

    #prototype .box {
        align-items: center;
    }

    #prototype .box {
        margin: 0rem;
    }

    #prototype video {
        width: 20vw;
        border-radius: 0.5rem;
    }

    #prototype .box_left {
        width: 100%;
    }

    #prototype .box_right {
        text-align: center;
    }

    .testing_box {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    #testing .positive, #testing .suggested {
        border: 0.8px solid var(--font-blue);
        padding: 1rem 0.5rem;
    }

    #testing .positive ul li, #testing .suggested ul li {
        list-style: none;
    }

    #testing .positive ul li::before {
        content: "🌟 ";
    }

    #testing .suggested ul li::before {
        content: "🔧 ";
    }

    #contenttext_center {
        padding: 1rem;
    }

    #overview .box_left ul {
        list-style: circle;
    }

    .content_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 2rem;
        width: 100%;
    }

    #contributed .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contributed img {
        width: 50%;
        margin: 1rem 0rem;
    }

    #contributed .box_right {
        text-align: center;
    }

    .dashboard_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .dashboard_box img {
        width: 100%;
        height: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }

    #testimonials {
        border: 0.5px solid var(--font-lightblue);
        width: 80vw;
        padding: 3rem;
    }

    .ryan {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1rem;
    }

    .ryan img {
        width: 8rem;
    }
 
    .ob {
        border: 1px solid var(--font-lightblue);
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.5em;
    }
    
    .goal_box {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
    }

    .text_box {
        text-align: center;
        background-color: var(--font-black);
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem
    }

    .text_box p {
        color: white;
    }

    .text_box img {
        width: 10%;
    }

    #prime_munchie .box_right, #woof .box_right {
        width: 100%;
    }
    
    #under p {
        width: 100%;
    }


    /* NDA----- */

    .nda {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100dvh;
    }
    .nda-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        gap: 1rem;
        margin: 1rem;
    }
}