* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-margin-top: 80px;
}

:root {
    overflow-x: hidden;
    font-size: 16px;
    /* background-color: var(--backgroud-color); */
    /* color */
    --backgroud-color: #fdfdfd;
    --font-blue: #2C4A97;
    --font-darkblue: #01205F;
    --font-darkpink: #D47070;
    --font-lightpink: #FFC9C9;
    --font-lightblue: #6E80B0;
    --font-black: #181818;
    --grey: #D9D9D9;
}

@media screen and (min-width: 768px) {

    /*font*/

    h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 7rem;
        background-color: transparent;
    }

    h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 4rem;
        background-color: transparent;
    }

    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 3rem;
        font-weight: 700;
        background-color: transparent;
    }

    h4 {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        background-color: transparent;
    }

    h5 {
        /*for highlight*/
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 600;
        background-color: transparent;
    }

    p, a, ul {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        background-color: transparent;
    }

    strong {
        font-family: "Poppins", sans-serif;
        color: var(--font-blue);
        font-size: 1rem;
        font-weight: 600;
    }

    /*header*/
    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem
    }

    .menu, .menu-index {
        transition: background-color 0.3s ease;
        transition: color 0.3s ease;
        border-radius: 100px;
        margin-right: 3rem;
    }

    .menu-index {
        background-color: rgba(245, 245, 245, 0.6); 
    }

    header.is-scrolled .menu-index {
        background-color: rgba(183, 195, 228, 0.6);
    }

    .menu {
        background-color: rgba(183, 195, 228, 0.6);
    }

    .menu ul, .menu-index ul {
        transition: color 0.3s ease;
        display: flex;
        gap: 1.5em;
        align-items: center;
        padding: 1rem 2rem;
        list-style: none;
    }

    .menu_mobile {
        display: none;
    }

    #logo-light img, #logo-dark img, #logo-dark-index img {
        width: 5rem;
        height: auto;
        margin-left: 3rem;
        display: inline-block;
    }

    #logo-dark-index {
        display: none;
    }

    header.is-scrolled #logo-light {
        display: none;
    }

    header.is-scrolled #logo-dark-index {
        display: inline-block;
    }

    /* menu link */
    .menu a:link, .menu a:visited, .menu-index a:link, .menu-index a:visited {
        display: inline-block;
        color: var(--font-darkblue);
        transition: transform 0.3s ease, color 0.3s ease;
    }
    .menu a:hover, .menu-index a:hover{
        transform: translateY(-5px);
    }

    /* hero section */

    .hero {
        width: 100%;         
        padding-top: 10rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2C4A97;
    }

    .hero-lottie {
        width: 90%;
    }
    
    /*landing-work*/
    
    .feature-work {
        text-align: center;
        border-radius: 4rem 4rem 0 0;
        background-color: var(--backgroud-color);
        padding-bottom: 4rem;
    }

    .intro_work {
        color: var(--font-darkblue);
        padding-top: 3rem;
    }
    
    .work {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        gap: 6em;
        padding: 3em 8em;
    }

    .work h4 {
        color: var(--font-darkblue);
    }

    .work p {
        color: var(--font-darkblue)
    }
    
    .project {
        display: flex;
        flex-direction: column;
    }

    .project img {
        width: 100%;
        height: 100%;
        border-radius: 2.5em;
        border: 1px solid var(--font-blue);
    }

    .project-img-wrap {
        width: 35vw;
        border-radius: 2.5em;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .project-text {
        margin: 1em 0em;
        text-align: left;
    }

    .project-text>p {
        margin-top: 0.5em;
    }

    button.viewproject {
        background-color: var(--font-blue);
        padding: 1rem;
        border-radius: 3.5rem;
        color: var(--backgroud-color);
        width: 100%;
        margin-top: 1rem;
        border: 0;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
    }

    button.viewproject:hover {
        background-color: var(--font-darkblue);
    }

    .work a:link,
    .work a:visited, .contenttext a:link, .contenttext a:visited, .nda-box a:link, .nda-box a:visited, .notfound a:link, .notfound a:visited, .about a:link, .about a:visited {
        display: inline-block;
        color: var(--font-blue);
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .work a:hover, .contenttext a:hover, .nda-box a:hover, .notfound a:hover, .about a:hover {
        color: var(--font-blue);
        transform: translateY(-5px);
    }

    .work a:active .contenttext a:active, .nda-box a:active, .notfound a:active, .about a:active {
        color: var(--font-lightblue);
    }


    /*-----Footer-----*/

    footer {
        border-radius: 4rem 4rem 0rem 0rem;
        background-color: var(--font-blue);
    }
    
    footer a, footer h3 {
        color: var(--backgroud-color);
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        padding: 3rem;
     }
    
    .contact-text {
        display: flex;
        gap: 2rem;
    }

    .contact-text a:link, .contact-text a:visited {
        display: inline-block;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .contact-text a:hover {
        transform: translateY(-5px);
    }

    .contact-text a:active {
        color: var(--font-darkblue);
    }

    .top{
        display: flex;
        gap: 1rem;
    }

    #blink {
        width: 5rem;
    }

    #aiya {
        width: 6rem;
        transform: rotate(20deg);
    }

    /*-----------404-------------*/
    .notfound {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        color: var(--font-blue);
    }

    .notfound-404 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notfound-404 h1 {
        font-size: 25rem;
    }
    
    .notfound p {
        margin-bottom: 0.5rem;
    }

    /*-----------work page-------------*/

    .content {
        margin: 2rem 2rem 0 2rem;
        display: flex;
        justify-content: center;
        gap: 6rem;
        padding: 0rem 2rem 4rem 2rem;
    }

    .work-project {
        background-color: var(--backgroud-color);
    }

    .work-project p {
        color: var(--font-darkblue);
    }

        /* sidenav */
    .sidenav {
        width: fit-content;
        height: fit-content;
        text-align: left;
        position: sticky;
        top: 100px;
    }

    .sidenav ul {
        width: 15rem;
    }

    .sidenav li {
        margin: 0.7rem;
        list-style: none;
    }
    .sidenav a:link,
    .sidenav a:visited {
        display: inline-block;
        color: var(--font-darkblue);
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .sidenav a:hover {
        color: var(--font-darkblue);
        transform: translateY(-5px);
    }

    .sidenav a:active {
        color: var(--font-darkblue);
    }

    .sidenav a.active {
        color: var(--font-darkpink);
        /* text-decoration: underline; */
    }

    .title, .title_fintrackpro {
        text-align: center;
        padding-top: 7rem;
        width: 100vw;
    }

    .title p {
        text-align: center;
        width: 60vw;
        margin: 0 auto;
    }

    .title_fintrackpro p {
        text-align: center;
        width: 45vw;
        margin: 0 auto;
    }

    .title h1, .title_fintrackpro h1 {
        font-size: 4.5rem;
        color: var(--font-darkblue);
    }

   .title img, .title_fintrackpro img {
        width: 100vw;
        margin: 2rem 0rem;
    }

    .contenttext h3 {
        font-size: 2.5rem;
        color: var(--font-darkblue);
    }

    .contenttext h4 {
        font-size: 1.5rem;
        color: var(--font-darkblue);
    }
    
    .contenttext ul {
        list-style: circle;
        margin-left: 20px;
    }

    .contenttext ul {
        color: var(--font-darkblue);
    }
    
    .contenttext h5 {
        color: var(--font-blue);
    }

    .contenttext img {
        width: 600px;
    }

    .contenttext video {
        margin: 1.5rem;
        width: 20%;
        border-radius: 24px;
    }

    #fintrackpro_prototyping video {
        width: 17%;
        border-radius: 24px;
    }

    #woofvideo {
        width: 50%;
        border-radius: 4px;
    }

    .box {
        display: flex;
        gap: 4rem;
    }

   .box_right {
        width: 50%;
   }

    .box_photo {
        text-align: center;
        margin: 2rem;
    }

    .box_list {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #overview,
    #start,
    #problem,
    #solution,
    #persona,
    #ia,
    #userflow,
    #sketch,
    #uiinspi,
    #designsystem,
    #mockup,
    #testing,
    #key,
    #addfea,
    #gameflow,
    #prototype, 
    #contributed,
    #testimonials, #objective {
        margin-bottom: 5rem;
    }

    #start img {
        width: 25vw;
    }

    #start .box {
        align-items: center;
        margin-top: 3rem;
    }   

    #first_version {
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
    }

    #first_version img {
        width: 70%;
    }

    #makechange img, #mockup img{
        width: 100%;
    }

    #addfea .box {
        margin: 3rem;
    }

   #addfea img {
        width: 20vw;
    }

    #addfea .box,#prototype .box {
        align-items: center;
    }

    #prototype .box {
        margin: 2rem;
    }
    #prototype video {
        width: 10vw;
    }

    #prototype .box_left {
        width: 100%;
    }

    #prototype .box_right {
        text-align: center;
    }

    .testing_box {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    #testing .positive, #testing .suggested {
        border: 0.8px solid var(--font-blue);
        padding: 1rem;
    }

    #testing .positive ul li, #testing .suggested ul li {
        list-style: none;
    }

    #testing .positive ul li::before {
        content: "🌟 ";
    }

    #testing .suggested ul li::before {
        content: "🔧 ";
    }

    #contenttext_center {
        padding: 1rem;
    }

    #overview .box_left ul {
        list-style: circle;
    }


    #contributed img {
        width: 20vw;
    }
    
    #contributed_photo2 img {
        margin: 4rem 0rem;
    }

    #contributed .box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .dashboard_box {
        display: flex;
        gap: 2rem;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }

    .dashboard_box img {
        width: 30%;
        height: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }

    #testimonials {
        margin-top: 1rem;
        border: 0.5px solid var(--font-lightblue);
        width: 41rem;
        padding: 3rem;
    }

    .ryan {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1rem;
    }

    .ryan img {
        width: 8rem;
    }

    .ob {
        border: 1px solid var(--font-lightblue);
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.5em;
    }
    
    .goal_box {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .text_box {
        text-align: center;
        background-color: var(--font-black);
        width: 100%;
        padding: 2rem;
        border-radius: 0.5rem
    }

    .text_box p {
        color: white;
    }

    .text_box img {
        width: 10%;
    }

    #prime_munchie .box_right, #woof .box_right {
        width: 100%;
    }
    
    /* ----------About Page------------ */

    .about {
        padding: 10rem 10rem 0rem 10rem;
        color: var(--font-darkblue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--backgroud-color);
    }

    .about-top {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    #hand {
        width: 20%;
        display: inline-block;
        transform-origin: bottom center;
        animation: wave 0.5s ease-in-out 2;
    }

    @keyframes wave {
        0%   { transform: rotate(0deg); }
        50%  { transform: rotate(60deg); }
        50%  { transform: rotate(20deg); }
        100% { transform: rotate(0deg); }
    }
    
    .about-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 6rem;
    }

    .about-left {
        position: relative;
        width: 30%;
    }

    .about-right {
        width: 70%;
    }

    #myphoto {
        width: 90%;
    }

    #ntmy {
        position: absolute;
        width: 80%;
        top: 90%;   /* sticks to photo */
        left: 20%;
        transform: translateX(-50%);
        opacity: 0;
        animation: fadeIn 1.5s ease forwards;
        animation-delay: 0.3s;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(12px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .fade-in-section {
        opacity: 0;          
        transform: translateY(50px);
        transition: opacity 0.7s ease-out, transform 0.7s ease-out;;
    }

    .fade-in-section.visible {
        opacity: 1;           
        transform: translateY(0);
    }

}
