* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-margin-top: 80px;
}

:root {
    overflow-x: hidden;
    font-size: 16px;
    background-color: var(--backgroud-color);
    /* color */
    --backgroud-color: #F5F5F5;
    --font-blue: #2C4A97;
    --font-lightblue: #6E80B0;
    --font-black: #181818;
    --grey: #D9D9D9;
}

@media screen and (min-width: 768px) {

    /*font*/

    h1 {
        font-family: "Playfair", serif;
        font-weight: 400;
        font-size: 7rem;
        background-color: transparent;
    }

    h2 {
        font-family: "Playfair", serif;
        font-weight: 400;
        font-size: 4rem;
        background-color: transparent;
    }

    h3 {
        font-family: "Playfair", serif;
        font-size: 3rem;
        font-weight: 350;
        background-color: transparent;
    }

    h4 {
        font-family: "Playfair", serif;
        font-size: 2rem;
        font-weight: 400;
        background-color: transparent;
    }

    h5 {
        /*for highlight*/
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        background-color: transparent;
    }

    p, a, ul {
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        background-color: transparent;
    }

    strong {
        font-family: "Work Sans", sans-serif;
        color: var(--font-blue);
        font-size: 1rem;
        font-weight: 450;
    }

    /*header*/
    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem
    }

    .menu ul {
        color: var(--font-blue);
        display: flex;
        gap: 1.5em;
        align-items: center;
        padding: 1rem 3rem;
        list-style: none;
    }

    .menu_mobile {
        display: none;
    }

    #logo {
        width: 3rem;
        height: auto;
        margin-left: 3rem;
        display: inline-block;
    }

    .menu a:link, .menu a:visited, .contact-text a:link, .contact-text a:visited, .view-next-project a:link,
    .view-next-project a:visited, .content_center a:link, .content_center a:visited {
        display: inline-block;
        color: var(--font-blue);
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .menu a:hover, .contact-text a:hover, .view-next-project a:hover, .content_center a:hover {
        color: var(--font-blue);
        transform: translateY(-5px);
    }

    .menu a:active, .contact-text a:active, .view-next-project a:active, .content_center a:active {
        color: var(--font-lightblue);
    }

    /* hero section */

    .hero {
        width: 100%;             
        padding-top: 10rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--font-blue);
    }

    .hero h1 {
        line-height: 80%;
    }

    .hero h4 {
        margin: 2rem 0rem;
        font-weight: 200;
    }

    /*landing-work*/

    .feature-work {
        text-align: center;
    }

    /* arrow */


    .scroll {
        margin: 8em 0em;
        width: 4rem;
        height: 4rem;
        border: 1px solid currentColor;
        border-radius: 50%;
        position: relative;
        animation: down 1.5s infinite;
        -webkit-animation: down 1s infinite;
    }
    
    .scroll::before {
            content: '';
            position: absolute;
            top: 15px;
            left: 22px;
            width: 18px;
            height: 18px;
            border-left: 1px solid currentColor;
            border-bottom: 1px solid currentColor;
            transform: rotate(-45deg);
    }

    @keyframes down {
        0% {
            transform: translate(0);
        }

        20% {
            transform: translateY(15px);
        }

        40% {
            transform: translate(0);
        }
    }

    @-webkit-keyframes down {
        0% {
            transform: translate(0);
        }

        20% {
            transform: translateY(15px);
        }

        40% {
            transform: translate(0);
        }
    }

    /* work */

    .work {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        gap: 6em;
        padding: 3em 8em;
    }

    .work h4 {
        color: var(--font-blue);
    }

    .work p {
        color: var(--font-lightblue)
    }
    
    .project {
        display: flex;
        flex-direction: column;
    }

    .project img {
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        border: 1px solid var(--font-blue);
    }

    .project-img-wrap {
        width: 35vw;
        border-radius: 0.5em;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
        /* border: 1px solid var(--font-blue); */
        /* box-shadow: 2px 2px 30px rgba(0,0,0,0.2); */
    }

    .project-img-wrap::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 0.2s ease;
    }

    .project-img-wrap:hover::after {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .project-text {
        margin: 1em 0em;
        text-align: left;
    }

    .project-text>p {
        margin-top: 0.5em;
    }

    .tag {
        margin: 1.5em 0em;
        display: flex;
        gap: 1em;
    }

    .tag-text {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        color: var(--font-blue);  
        font-weight: 400;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
    }

    .work a:link,
    .work a:visited, .contenttext a:link, .contenttext a:visited, .nda-box a:link, .nda-box a:visited, .notfound a:link, .notfound a:visited {
        display: inline-block;
        color: var(--font-blue);
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .work a:hover, .contenttext a:hover, .nda-box a:hover, .notfound a:hover {
        color: var(--font-blue);
        transform: translateY(-5px);
    }

    .work a:active .contenttext a:active, .nda-box a:active, .notfound a:active {
        color: var(--font-lightblue);
    }

    /* wave */
    /* container for the name so SVG can position behind text */
    .name-wrap {
    position: relative;
    display: inline-block;
    line-height: 1;
    }

    /* SVG sits behind the name text */
    .wave {
    position: absolute;
    left: 0;
    bottom: 6%;
    width: 120%;
    height: 0.9em; 
    pointer-events: none;
    z-index: -1;
    overflow: visible;
    }

    /* STROKE (draw animation) */
    #wave-stroke {
    fill: none;
    stroke: var(--font-lightblue);
    stroke-width: 80;              
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.7;
    stroke-dasharray: var(--path-length, 300);
    stroke-dashoffset: var(--path-length, 300);
    animation: draw-stroke 1.6s cubic-bezier(.22,.9,.35,1) forwards;
    }

    @keyframes draw-stroke {
    to {
        stroke-dashoffset: 0;
    }
    }

    /*-----Footer-----*/

    footer {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5rem 0;
    }

    footer h3 {
        font-family: "Playfair", serif;
        font-size: 4rem;
        font-weight: 350;
        background-color: transparent;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-text {
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
    }

    .contact a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    /*-----------404-------------*/
    .notfound {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        color: var(--font-blue);
    }

    .notfound-404 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notfound-404 h1 {
        font-size: 25rem;
    }
    
    .notfound p {
        margin-bottom: 0.5rem;
    }

    /*-----------work page-------------*/

    .content {
        margin: 2rem;
        display: flex;
        justify-content: center;
        gap: 6rem;
        padding: 0rem 2rem;
    }

        /* sidenav */
    .sidenav {
        width: fit-content;
        height: fit-content;
        text-align: left;
        position: sticky;
        top: 100px;
    }

    .sidenav ul {
        width: 15rem;
    }

    .sidenav li {
        margin: 0.7rem;
        list-style: none;
    }
    .sidenav a:link,
    .sidenav a:visited {
        display: inline-block;
        color: var(--font-lightblue);
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .sidenav a:hover {
        color: var(--font-lightblue);
        transform: translateY(-5px);
    }

    .sidenav a:active {
        color: var(--font-lightblue);
    }

    .sidenav a.active {
        color: var(--font-blue);
        text-decoration: underline;
    }

    .title, .title_fintrackpro {
        text-align: center;
        padding-top: 7rem;
        width: 100vw;
    }

    .title p {
        text-align: center;
        width: 60vw;
        margin: 0 auto;
    }

    .title_fintrackpro p {
        text-align: center;
        width: 45vw;
        margin: 0 auto;
    }

    .title h1, .title_fintrackpro h1 {
        font-size: 5rem;
        color: var(--font-blue);
    }

   .title img, .title_fintrackpro img {
        width: 100vw;
        margin: 2rem 0rem;
    }

    .contenttext h3, .content_center h3 {
        font-size: 2.5rem;
        color: var(--font-blue);
    }

    .contenttext h4, .content_center h4 {
        font-size: 1.5rem;
        color: var(--font-blue);
    }

    .contenttext p, .content_center p {
        color: var(--font-black);
    }

    .contenttext ul, .content_center ul {
        list-style: circle;
        margin-left: 20px;
    }

    .contenttext img {
        width: 600px;
    }

    .contenttext video {
        margin: 1.5rem;
        width: 20%;
        border-radius: 24px;
    }

    #fintrackpro_prototyping video {
        width: 17%;
        border-radius: 24px;
    }

    #woofvideo {
        width: 50%;
        border-radius: 4px;
    }

    .box {
        display: flex;
        gap: 4rem;
    }

   .box_right {
        width: 50%;
   }

    .box_photo {
        text-align: center;
        margin: 2rem;
    }

    .box_list {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #overview,
    #start,
    #problem,
    #solution,
    #persona,
    #ia,
    #userflow,
    #sketch,
    #uiinspi,
    #designsystem,
    #mockup,
    #testing,
    #key,
    #addfea,
    #gameflow,
    #prototype, 
    #contributed,
    #testimonials, #objective {
        margin-bottom: 5rem;
    }

    #start img {
        width: 25vw;
    }

    #start .box {
        align-items: center;
        margin-top: 3rem;
    }   

    #first_version {
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
    }

    #first_version img {
        width: 70%;
    }

    #makechange img, #mockup img{
        width: 100%;
    }

    #addfea .box {
        margin: 3rem;
    }

   #addfea img {
        width: 20vw;
    }

    #addfea .box,#prototype .box {
        align-items: center;
    }

    #prototype .box {
        margin: 2rem;
    }
    #prototype video {
        width: 10vw;
    }

    #prototype .box_left {
        width: 100%;
    }

    #prototype .box_right {
        text-align: center;
    }

    .testing_box {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    #testing .positive, #testing .suggested {
        border: 0.8px solid var(--font-blue);
        padding: 1rem;
    }

    #testing .positive ul li, #testing .suggested ul li {
        list-style: none;
    }

    #testing .positive ul li::before {
        content: "🌟 ";
    }

    #testing .suggested ul li::before {
        content: "🔧 ";
    }

    #contenttext_center {
        padding: 1rem;
    }

    #overview .box_left ul {
        list-style: circle;
    }

    .content_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 11rem 0rem 11rem;
    }

    #contributed img {
        width: 20vw;
    }
    
    #contributed_photo2 img {
        margin: 4rem 0rem;
    }

    #contributed .box {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .dashboard_box {
        display: flex;
        gap: 2rem;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }

    .dashboard_box img {
        width: 30%;
        height: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }

    #testimonials {
        border: 0.5px solid var(--font-lightblue);
        width: 41rem;
        padding: 3rem;
    }
    .ryan {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1rem;
    }

    .ryan img {
        width: 8rem;
    }

    .view-next-project {
        text-align: left;
    }

    .view-next-project {
        text-align: end;
        padding-right: 8rem;
    }

    .ob {
        border: 1px solid var(--font-lightblue);
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.5em;
    }
    
    .goal_box {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .text_box {
        text-align: center;
        background-color: var(--font-black);
        width: 100%;
        padding: 2rem;
        border-radius: 0.5rem
    }

    .text_box p {
        color: white;
    }

    .text_box img {
        width: 10%;
    }

    #prime_munchie .box_right, #woof .box_right {
        width: 100%;
    }
    
    #under p {
        width: 100%;
    }
    
    /* -------------NDA----------- */
    
    .nda {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100dvh;
    }

    .nda-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        gap: 1rem;
    }
    .input-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--font-blue);
        padding: 1rem;
        width: 80%;
        border-radius: 4px;
    }

    .input-box input {
        object-fit: contain;
        border: none;
        outline: none;
        flex: 1;
        background: transparent;
    }

    .input-box input::placeholder {
        color: var(--font-lightblue);
    }

    .input-box p {
        color: var(--font-lightblue);
        cursor: pointer;
        margin: 0;
    }

    .input-box p:hover {
        color: var(--font-tblue);
    }

    .nda-box button {
        background-color: var(--font-blue);
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: var(--backgroud-color);
        cursor: pointer;
    }

    .nda-box button:hover {
        background-color: var(--font-lightblue);
    }


    /* ----------About Page------------ */

    .about {
        padding: 10rem 10rem 0rem 10rem;
    }

    .about_top h3 {
        color: var(--font-blue);
    }

    .about_top p {
        color: var(--font-lightblue)
    }

    .about_top img {
        width: 15%;
        border-radius: 0.5em;
        border: 1px solid var(--font-blue);
    }

    /* bento */

    .bento {
        margin-top: 3rem;
        display: grid;
        grid-template-areas:
            "experience experience location skill"
            "hobby music music  skill";
        /* grid-template-columns: 2fr 1fr 1fr; */
        /* grid-template-rows: auto auto auto; */
        gap: 1rem;
    }

    .experience { grid-area: experience; }
    .location   { grid-area: location; }
    .skill      { grid-area: skill; }
    .hobby    { grid-area: hobby; }
    .music      { grid-area: music; }

    .card {
        border-radius: 0.5rem;
        padding: 1rem;
        border: 1px solid var(--font-blue);
    }
    
    .experience, .location, .hobby, .music {
        height: 19.5rem;
    }

    .bento-title {
        color: var(--font-blue);
        background-color: var(--grey);
        padding: 0.5rem;
        border-radius: 0.5rem;
        width: fit-content;
    } 

    /* experience */

    .experience {
        overflow: scroll;
        scrollbar-gutter: stable;
    }

    .timeline {
        position: relative;
        margin-top: 1rem;
        padding-left: 2rem;
        border-left: 2px solid var(--grey); 
    }

    .timeline-item {
        position: relative;
        margin-bottom: 1.5rem;
    }

    .timeline-dot {
        position: absolute;
        left: -2.6rem;
        top: 0;
        width: 1rem;
        height: 1rem;
        background-color: var(--grey);
        border-radius: 50%;
    }

    .timeline-content h5 {
        color: var(--font-blue);
    }

    .timeline-content p {
        color: var(--font-lightblue);
    }

    /* location */

    #title_location, #title_hobby {
        z-index: 2;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    .map {
        position: relative;
        width: 17.5rem;
        height: 17.5rem;
        overflow: hidden;
        border-radius: 0.5rem
    }
    .map img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: grab;
    }

    .map iframe {
        filter: grayscale(100%);
        border-radius: 0.5rem;
    }

    /* music */
    .music iframe{
        margin-top: 1rem;
    }

    /* skill */
    .skill h5 {
        color: var(--font-blue);
        margin-bottom: 0.5rem;
    }

    .skill p {
        color: var(--font-lightblue);
    }
    
    .skill_box {
        margin-bottom: 2rem;
    }

    /* gallery */
    .hobby {
        position: relative;
    }

    .carousel {
        position: relative;
        overflow: hidden;
    }

    .carousel-images {
    position: relative;
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 17.5rem;      
    height: 17.5rem;   
    border-radius: 0.5rem;
    }

    .carousel-images img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    flex-shrink: 0;
    }

    /* Arrow buttons */
    .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
    border: none; 
    color: var(--backgroud-color);
    }

    .prev { left: 10px; }
    .next { right: 10px; }

}