@media screen and (max-width: 1023px) {
    
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 5rem;
        font-weight: 700;
        background-color: transparent;
    }

    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 4rem;
        font-weight: 700;
        background-color: transparent;
    }

    h3 {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        background-color: transparent;
    }

    h4 {
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        background-color: transparent;
    }

    h5 {
        /*for highlight*/
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        background-color: transparent;
    }

    p, a, ul {
        font-family: "Poppins", sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        background-color: transparent;
    }

    strong {
        font-family: "Poppins", sans-serif;
        color: var(--font-blue);
        font-size: 0.9rem;
        font-weight: 600;
    }

    /*header*/
    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .menu, .menu-index {
        display: none;
    }

    #logo-light img, #logo-dark img, #logo-dark-index img {
        width: 4rem;
        height: auto;
        margin-left: 3rem;
        display: inline-block;
    }

    #logo-dark-index {
        display: none;
    }

    header.is-scrolled #logo-light {
        display: none;
    }

    header.is-scrolled #logo-dark-index {
        display: inline-block;
    }

   /* Base layout */
    .menu_mobile {
        display: block;
        position: relative;
        margin-right: 2.5rem;
    }

    /* Menu button (hamburger) */
    .menu-button {
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--backgroud-color);
        background: none;
        border: none;
        cursor: pointer;
    }

    header.is-scrolled .menu-button {
        color: var(--font-darkblue)
    }

    /* Overlay menu */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(79, 77, 77, 0.3);
        backdrop-filter: blur(30px);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 3rem;
        transform: translateY(-100%);
        transition: transform 0.4s ease;
        z-index: 100;
        list-style: none;
    }

    /* When open */
    .overlay.active {
        transform: translateY(0);
    }

    /* Overlay content */
    .overlay-content {
        position: relative;
        z-index: 200;
    }

    .overlay-content ul {
        list-style: none;
        padding: 0;
    }

    .overlay-content li {
        margin: 20px 0;
    }

    .overlay-content a {
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--font-darkblue);
        text-decoration: none;
    }

    /* Close button */
    .close-btn {
        position: absolute;
        top: -5rem;
        left: 0;
        font-size: 3rem;
        background: none;
        border: none;
        color: var(--font-darkblue);
        cursor: pointer;
    }

    /* hero section */

    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*landing-work*/

    .feature-work {
        text-align: center;
    }

    .work {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        gap: 3em;
        padding: 3em 4em;
    }

    .project {
        display: flex;
        flex-direction: column;
    }

    .project img {
        width: 100%;
        height: 100%;
        border-radius: 2.5em;
        border: 1px solid var(--font-blue);
    }

    .project-img-wrap {
        width: 100%;
        border-radius: 2.5em;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .project-text {
        margin: 1em 0em;
        text-align: left;
    }

    .project-text>p {
        margin-top: 0.5em;
    }
    
    /*Footer*/

    footer {
        border-radius: 4rem 4rem 0rem 0rem;
        background-color: var(--font-blue);
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-text {
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
    }

    /*-----------404-------------*/
    .notfound {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        color: var(--font-blue);
    }

    .notfound-404 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notfound-404 h1 {
        font-size: 20rem;
    }

    .notfound p {
        margin-bottom: 0.5rem;
    }

    /* -----About Page ---*/

    .about {
        padding: 6rem 4rem 4rem 4rem;
    }

    .about_top h3 {
        color: var(--font-blue);
    }

    .about_top p {
        color: var(--font-lightblue)
    }

    .about_top img {
        width: 25%;
        border-radius: 0.5em;
        border: 1px solid var(--font-blue);
        margin-bottom: 0.5rem;
    }

    /* -----NDA----- */
    
    .nda {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100dvh;
    }

    .nda-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30rem;
        gap: 1rem;
    }
    .input-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--font-blue);
        padding: 1rem;
        width: 80%;
        border-radius: 4px;
    }

    .input-box input {
        object-fit: contain;
        border: none;
        outline: none;
        flex: 1;
        background: transparent;
    }

    .input-box input::placeholder {
        color: var(--font-lightblue);
    }

    .input-box p {
        color: var(--font-lightblue);
        cursor: pointer;
        margin: 0;
    }

    .input-box p:hover {
        color: var(--font-tblue);
    }

    .nda-box button {
        background-color: var(--font-blue);
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: var(--backgroud-color);
        cursor: pointer;
    }

    .nda-box button:hover {
        background-color: var(--font-lightblue);
    }

   /*-----------work page-------------*/

    .content {
        margin: 2rem;
        display: flex;
        justify-content: center;
        gap: 6rem;
        padding: 0rem 2rem;
    }

    .work-project {
        background-color: var(--backgroud-color);
    }

    .work-project p {
        color: var(--font-darkblue);
    }

        /* sidenav */
    .sidenav {
        display: none;
    }

    .title, .title_fintrackpro {
        text-align: center;
        padding-top: 7rem;
        width: 100vw;
    }


    .title h1, .title_fintrackpro h1 {
        color: var(--font-darkblue);
    }

   .title img, .title_fintrackpro img {
        width: 100vw;
        margin: 2rem 0rem;
    }

    .contenttext h3 {
        font-size: 2rem;
        color: var(--font-darkblue);
    }

    .contenttext h4 {
        font-size: 1.5rem;
        color: var(--font-darkblue);
    }

    .contenttext h5 {
        color: var(--font-blue);
    }

    .contenttext ul {
        list-style: circle;
        margin-left: 20px;
    }

    .contenttext img {
        width: 600px;
    }

    .contenttext video {
        margin: 1.5rem;
        width: 20%;
        border-radius: 1rem;
    }

    #fintrackpro_prototyping video {
        width: 20%;
        border-radius: 1rem;
    }

    #woofvideo {
        width: 50%;
        border-radius: 4px;
    }

    .box {
        display: flex;
        gap: 4rem;
    }

   .box_right {
        width: 50%;
   }

    .box_photo {
        text-align: center;
        margin: 2rem;
    }

    .box_list {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #overview,
    #start,
    #problem,
    #solution,
    #persona,
    #ia,
    #userflow,
    #sketch,
    #uiinspi,
    #designsystem,
    #mockup,
    #testing,
    #key,
    #addfea,
    #gameflow,
    #prototype, 
    #contributed,
    #testimonials, #objective {
        margin-bottom: 5rem;
    }

    #start img {
        width: 25vw;
    }

    #start .box {
        align-items: center;
        margin-top: 3rem;
    }   

    #first_version {
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
    }

    #first_version img {
        width: 70%;
    }

    #makechange img, #mockup img{
        width: 100%;
    }

    #addfea .box {
        margin: 3rem;
    }

   #addfea img {
        width: 20vw;
    }

    #addfea .box,#prototype .box {
        align-items: center;
    }

    #prototype .box {
        margin: 2rem;
    }
    #prototype video {
        width: 12vw;
    }

    #prototype .box_left {
        width: 100%;
    }

    #prototype .box_right {
        text-align: center;
    }

    .testing_box {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }

    #testing .positive, #testing .suggested {
        border: 0.8px solid var(--font-blue);
        padding: 1rem;
    }

    #testing .positive ul li, #testing .suggested ul li {
        list-style: none;
    }

    #testing .positive ul li::before {
        content: "🌟 ";
    }

    #testing .suggested ul li::before {
        content: "🔧 ";
    }

    #contenttext_center {
        padding: 1rem;
    }

    #overview .box_left ul {
        list-style: circle;
    }

    .content_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 4rem 0rem 4rem;
    }

    .dashboard_box {
        display: flex;
        gap: 2rem;
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }

    .dashboard_box img {
        width: 30%;
        height: 100%;
        object-fit: contain;
    }

    #testimonials {
        border: 0.5px solid var(--font-lightblue);
        width: 41rem;
        padding: 2rem;
    }
    .ryan {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 1rem;
    }

    .ryan img {
        width: 6rem;
    }

    .view-next-project {
        text-align: left;
    }

    .view-next-project {
        text-align: end;
        padding-right: 8rem;
    }

    .ob {
        border: 1px solid var(--font-lightblue);
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.5em;
    }
    
    .goal_box {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .text_box {
        text-align: center;
        background-color: #171717;
        width: 100%;
        padding: 2rem;
        border-radius: 0.5rem
    }

    .text_box p {
        color: white;
    }

    .text_box img {
        width: 10%;
    }

    #prime_munchie .box_right, #woof .box_right {
        width: 100%;
    }
    
    #under p {
        width: 100%;
    }
}

